{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
	<script>
		$(function () {
			$("body").tooltip({
				selector: '[data-toggle="tooltip"]',
				container: 'body'
			});
		});
		  
	</script>
	<br>
	{% if session.page == 'display_idea' %}
		<div class="row justify-content-center">
			<h1>Question Ideas</h1>
		</div>
		<br>
		<!-- <select name="is_framed_filter" id="is_framed_filter">
			<option value="TRUE">Yes</option>
			<option value="FALSE">No</option>
		</select> -->
		<table style="width:auto;" align="center" class="table table-striped table-bordered table-hover table-responsive table-condensed" id="ideas_list_display">
			<thead class="thead-dark">
				<tr>
					<th style="width:auto;">Index</th>
					<th style="width:auto;">Idea</th>
					<th style="width:auto;">Sources</th>
					<th style="width:auto;">Framed?</th>
					<th style="width:auto;"></th>
					<th style="width:auto;"></th>
				</tr>
			</thead>
			<tbody>
				{% for item in data %}
					<form method="POST">
						<tr>
							<td class="col-md-1 align-middle">{{item[0]}}</td>
							<td class="col-md-4 align-middle" data-toggle="tooltip" data-placement="top" title="{{item[4]}}">{{item[1]}}</td>
							<td class="col-md-1 align-middle">{{item[2]}}</td>
							<td class="col-md-1 align-middle">{{item[3]}}</td>
							<td class="align-middle col-md-1" align="center">
								<button type="submit" value="more {{item[0]}}" name="idea_operation" class="btn btn-dark btn-sm">More</button>
							</td>
							<td class="align-middle col-md-1" align="center">
								<button type="submit" value="{{'frame item[0]' if item[3] == 'FALSE' else 'display item[0]'}}" name="idea_operation" class="btn btn-dark btn-sm">{{"Frame" if item[3] == 'FALSE' else "Display"}}</button>
							</td>
						</tr>
					</form>
				{% endfor %}
			</tbody>
		</table>
	
	{% elif session.page == 'display_question' %}
	<div class="row justify-content-center">
		<h1>Questions Database</h1>
	</div>
	<br>
	<table class="table table-striped table-bordered table-hover table-responsive-lg" id="ideas_list_display">
		<thead class="thead-dark">
			<tr>
				<th>Index</th>
				<th>Question</th>
				<th>Answer</th>
				<th>Explanation</th>
				<th>Idea</th>
				<th>Date</th>
				<th>Author</th>
				<th>Media</th>
				<th>Used In</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in data %}
				<form method="POST">
					<tr>
						<td class="align-middle">{{item[0]}}</td>
						<td class="align-middle" data-toggle="tooltip" data-placement="top" title="{{item[9]}}">{{item[1]}}</td>
						<td class="align-middle" data-toggle="tooltip" data-placement="top" title="{{item[10]}}">{{item[2]}}</td>
						<td class="align-middle" data-toggle="tooltip" data-placement="top" title="{{item[11]}}">{{item[3]}}</td>
						<td class="align-middle">{{item[4]}}</td>
						<td class="align-middle">{{item[5]}}</td>
						<td class="align-middle">{{item[6]}}</td>
						<td class="align-middle">{{item[7]}}</td>
						<td class="align-middle">{{item[8]}}</td>
						<td class="align-middle">
							<button type="submit" value="{{item[0]}}" name="id_val" class="btn btn-dark btn-sm">More</button>
						</td>
					</tr>
				</form>
			{% endfor %}
		</tbody>
	</table>
	
	{% elif session.page == 'display_quiz' %}
	<div class="row justify-content-center">
		<h1>List of Quizzes</h1>
	</div>
	<br>
	<table class="table table-striped table-bordered table-hover table-responsive-lg" id="ideas_list_display">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Event</th>
				<th>Title</th>
				<th>Quizmasters</th>
				<th>Venue</th>
				<th>Date</th>
				<th>Question Count</th>
				<th>Reception</th>
				<th>Remarks</th>
			</tr>
		</thead>
		<tbody>
			{% for item in data %}
				<tr>
					<td class="align-middle">{{item[0]}}</td>
					<td class="align-middle">{{item[1]}}</td>
					<td class="align-middle">{{item[2]}}</td>
					<td class="align-middle">{{item[3]}}</td>
					<td class="align-middle">{{item[4]}}</td>
					<td class="align-middle">{{item[5]}}</td>
					<td class="align-middle">{{item[6]}}</td>
					<td class="align-middle">{{item[7]}}</td>
					<td class="align-middle">{{item[8]}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% elif session.page == 'display_note' %}
	<h1>Adding a new note</h1>
	<br>
	<form>
		<div class="row pt-lg-2">
			<div class="col">
				<textarea rows="10" name="note" id="note" style="width:100%;" class="form-control"></textarea>
			</div>
		</div>
		<div class="text-center pt-xxl-4">
			<button type="submit" class="btn btn-primary btn-lg">Add Quiz</button>
		</div>
	</form>
	
	{% endif %}
{% endblock %} 