{% extends "base.html" %}

{% block title %}Display Records{% endblock %}
{% set active_item = 'other' if session.page == 'display_question' else 'home' %}
{% block content %}
	<script>
		$(document).ready(function () {
			$("body").tooltip({
				selector: '[data-toggle="tooltip"]',
				container: 'body',
				html: 'true',
				placement: 'top'
			});
		});
		$(document).ready(function(){
			$("#record_search").on("keyup", function() {
			  var value = $(this).val().toLowerCase();
			  $("#records_body tr").filter(function() {
				$(this).toggle($(this).attr('data').toLowerCase().indexOf(value) > -1)
			  });
			});
		});
		$(document).ready(function(){
			$('input[type="radio"]').change(function () {
				var firstRow = 'name';
				var auto = $('input[name="auto"]:checked').prop('value') || '';
				
				var trs = $('tr:not(:first)');
				$(trs).hide();
				
				if(auto == 'inactive'){
				}
				else {
					if(auto != '' && auto != 'inactive'){
						trs = $(trs).find("[id='is_framed']"+':contains('+auto+')').parent();
				  	}
				}
				$(trs).show();
			});
		});
		$(document).ready(function(){
			$('input[name="authors"]').change(function() {
				var firstRow = 'Index'
				//var auto = $('input[name="authors"]:checked').prop('value') || '';
				var val = [];
				$(':checkbox:checked').each(function(i){
					val[i] = $(this).val()
				});
				var trs = $('tr:not(:first)');
				$(trs).hide();
				if(!val.includes('All')){
					for(let i=0; i<val.length; i++) {
						if(val[i] != 'All') {
							//alert(val[i]);
							trs = $(trs).find("[id='author']"+':contains('+val[i]+')').parent();
						}
					}
				}
				else {
				}
			});
		});
	</script>
	<br>
	{% if session.page == 'display_idea' %}
		<div class="row justify-content-center">
			<h1>Question Ideas</h1>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<label class="btn btn-secondary active">
					<input type="radio" name="auto" value="TRUE" /> Framed
				</label>
				<label class="btn btn-secondary active">
					<input type="radio" name="auto" value="FALSE" /> Not Framed
				</label>
				<label class="btn btn-secondary active">
					<input type="radio" name="auto" value="inactive" checked/> Both
				</label>
			</div>
			<div class="col">
				<input id="record_search" type="text" placeholder="Search..." class="form-control">
			</div>
		</div>
		<br>
		<table style="width:auto;" align="center" class="table table-striped table-bordered table-hover table-responsive table-condensed" id="ideas_list_display">
			<thead class="thead-dark">
				<tr>
					<th style="width:auto;">Index</th>
					<th style="width:auto;">Idea</th>
					<th style="width:auto;">Sources</th>
					<th style="width:auto;">Framed?</th>
					<th style="width:auto;"></th>
					<th style="width:auto;"></th>
					<th style="width:auto;"></th>
				</tr>
			</thead>
			<tbody id="records_body">
				<form method="POST">
				{% for item in data %}
						<tr data="{{item[4]}}">
							<td class="col-md-1 align-middle">{{item[0]}}</td>
							<td class="col-md-6 align-middle" data-toggle="tooltip" title="{{item[4]}}">{{item[1]}}</td>
							<td class="col-md-4 align-middle" data-toggle="tooltip" title="{{item[5]}}">{{item[2]}}</td>
							<td class="col-md-1 align-middle" id="is_framed">{{item[3]}}</td>
							<td class="align-middle col-md-1" align="center">
								<button type="submit" value="edit {{item[0]}}" name="idea_operation" class="btn btn-sm">
									<i class="fa-regular fa-pen-to-square fa-lg"></i>
								</button>
							</td>
							<td class="align-middle col-md-1" align="center">
								<button type="submit" value="delete {{item[0]}}" name="idea_operation" class="btn btn-sm">
									<i class="fa-solid fa-trash fa-lg"></i>
								</button>
							</td>
							<td class="align-middle col-md-1" align="center">
								<button type="submit" value="more {{item[0]}}" name="idea_operation" class="btn btn-sm">
									<i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i>
								</button>
							</td>
						</tr>
					{% endfor %}
					</form>
			</tbody>
		</table>
	{% elif session.page == 'display_question' %}
	<div class="row justify-content-center">
		<h1>Questions Database</h1>
	</div>
	<br>
	<div class="row pt-sm-3">
		<div class="col-1">
			<!-- <div class="dropdown" data-bs-theme="dark">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Categories
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{% for cat in categories %}
						<button class="dropdown-item" type="button">
							<input class="form-check-input" type="checkbox" value="{{cat}}" checked>
							<label class="form-check-label">{{cat}}</label>
						</button>
					{% endfor %}
				</div>
			</div> -->
		</div>
		<div class="col-1">
			<!-- <div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Quizzes
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{% for quiz in quizzes %}
						<button class="dropdown-item" type="button">
							{% if quiz != "N/A" %}
								<input class="form-check-input" type="checkbox" value="{{quiz}}" checked>
							{% else %}
								<input class="form-check-input" type="checkbox" value="{{quiz}}">
							{% endif %}
							<label class="form-check-label">{{quiz}}</label>
						</button>
						{% endfor %}
					</div>
				</div> -->
		</div>
		<div class="col-1">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="authors_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Authors
				</button>
				<div class="dropdown-menu" aria-labelledby="authors_dropdown">
					{% for auth in authors %}
						{% if auth == "All" %}
							<input class="form-check-input" name="authors" type="checkbox" value="{{auth}}" checked>
						{% else %}
							<input class="form-check-input" name="authors" type="checkbox" value="{{auth}}">
						{% endif %}
						<label class="form-check-label">{{auth}}</label>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col"></div>
		<div class="col">
			<input id="record_search" type="text" placeholder="Search..." class="form-control">
		</div>
	</div>
	<br>
	<table class="table table-striped table-bordered table-hover table-responsive-lg" id="ideas_list_display">
		<thead class="thead-dark">
			<tr>
				<th>Index</th>
				<th>Question</th>
				<th>Answer</th>
				<th>Explanation</th>
				<th>Idea</th>
				<th>Date</th>
				<th>Author</th>
				<th>Categories</th>
				<th>Used In</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody id="records_body">
			<form method="POST">
					{% for item in data %}
						<tr data="{{item[6]+item[9]+item[10]+item[11]}}">
							<td class="align-middle">{{item[0]}}</td>
							<td class="align-middle" data-toggle="tooltip" title="{{item[9]}}">{{item[1]}}</td>
							<td class="align-middle" data-toggle="tooltip" title="{{item[10]}}">{{item[2]}}</td>
							<td class="align-middle" data-toggle="tooltip" title="{{item[11]}}">{{item[3]}}</td>
							<td class="align-middle">{{item[4]}}</td>
							<td class="align-middle">{{item[5]}}</td>
							<td class="align-middle" name="author">{{item[6]}}</td>
							<td class="align-middle" data-toggle="tooltip" title="{{item[13]}}">{{item[7]}}</td>
							<td class="align-middle" data-toggle="tooltip" title="{{item[12]}}">{{item[8]}}</td>
							<td class="align-middle" align="center">
								<button type="submit" value="edit {{item[0]}}" name="edit_idea" class="btn btn-sm">
									<i class="fa-regular fa-pen-to-square fa-lg"></i>
								</button>
							</td>
							<td class="align-middle" align="center">
								<button type="submit" value="delete {{item[0]}}" name="delete_idea" class="btn btn-sm">
									<i class="fa-solid fa-trash fa-lg"></i>
								</button>
							</td>
							<td class="align-middle">
								<button type="submit" value="more {{item[0]}}" name="id_val" class="btn btn-sm">
									<i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i>
								</button>
							</td>
						</tr>
					{% endfor %}
				</form>
		</tbody>
	</table>
	{% elif session.page == 'display_quiz' %}
	<div class="row justify-content-center">
		<h1>List of Quizzes</h1>
	</div>
	<br>
	<table class="table table-striped table-bordered table-hover table-responsive-lg" id="ideas_list_display">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Event</th>
				<th>Title</th>
				<th>Quizmasters</th>
				<th>Venue</th>
				<th>Date</th>
				<th>Question Count</th>
				<th>Reception</th>
				<th>Remarks</th>
			</tr>
		</thead>
		<tbody>
			{% for item in data %}
				<tr>
					<td class="align-middle">{{item[0]}}</td>
					<td class="align-middle">{{item[1]}}</td>
					<td class="align-middle" data-toggle="tooltip" title="{{item[9]}}">{{item[2]}}</td>
					<td class="align-middle">{{item[3]}}</td>
					<td class="align-middle">{{item[4]}}</td>
					<td class="align-middle">{{item[5]}}</td>
					<td class="align-middle">{{item[6]}}</td>
					<td class="align-middle">{{item[7]}}</td>
					<td class="align-middle" data-toggle="tooltip" title="{{item[10]}}">{{item[8]}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% elif session.page == 'display_note' %}
	<h1>List of Notes</h1>
	<br>
	<table style="width:auto;" align="center" class="table table-striped table-bordered table-hover table-responsive table-condensed" id="ideas_list_display">
		<thead class="thead-dark">
			<tr>
				<th style="width:auto;">Note</th>
				<th style="width:auto;">Created</th>
				<th style="width:auto;">Updated</th>
				<th style="width:auto;"></th>
				<th style="width:auto;"></th>
				<th style="width:auto;"></th>
			</tr>
		</thead>
		<tbody id="records_body">
			{% for item in data %}
				<form method="POST">
					<tr>
						<td class="col-md-6 align-middle" data-toggle="tooltip" title="{{item[3]}}">{{item[0]}}</td>
						<td class="col-md-1 align-middle">{{item[1]}}</td>
						<td class="col-md-1 align-middle">{{item[2]}}</td>
						<td class="align-middle col-md-1" align="center">
							<button type="submit" value="edit {{item[0]}}" name="edit_idea" class="btn btn-sm">
								<i class="fa-regular fa-pen-to-square fa-lg"></i>
							</button>
						</td>
						<td class="align-middle col-md-1" align="center">
							<button type="submit" value="delete {{item[0]}}" name="delete_idea" class="btn btn-sm">
								<i class="fa-solid fa-trash fa-lg"></i>
							</button>
						</td>
						<td class="align-middle col-md-1" align="center">
							<button type="submit" value="more {{item[0]}}" name="id_val" class="btn btn-sm">
								<i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i>
							</button>
						</td>
					</tr>
				</form>
			{% endfor %}
		</tbody>
	</table>
	
	{% endif %}
{% endblock %} 