{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% set active_item = 'home' %}
{% block content %}
<form method="POST">
	<br><br>
	<h3 class="text-center">Login</h3>
	<div class="form-group">
		<label for="email">Username</label>
		<input type="text" class="form-control" id="username" name="username" placeholder="Username" />
	</div>
	<br>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Password" />
	</div>
	<br>
	<div class="text-center">
		<button type="submit" class="btn btn-dark btn-lg">Login</button>
	</div>
</form>
{% endblock %}