{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
	<br>
	{% if session.page == 'new_idea' %}
		<div class="row justify-content-center">
			<h1>Adding a New Idea</h1>
		</div>
		<br>
		<form method="POST">
			<div class="pt-lg-2">
				<label class="font-weight-bold">Idea or Fact</label>
				<textarea rows="10" name="idea" id="idea" style="width:100%;"></textarea>
			<!-- <label for="floatingInput" class="font-weight-bold">Idea or Fact</label> -->
			</div>
			<br>
			<div class="pt-lg-2">
				<label class="font-weight-bold">Sources</label>
				<textarea name="sources" id="sources" class="form-control"></textarea>
				<!-- <label for="floatingInput" class="font-weight-bold">Sources</label> -->
			</div>
			<br>
			<div class="text-center">
				<button type="submit" class="btn btn-primary btn-lg">Add Idea</button>
			</div>
		</form>
	
	{% elif session.page == 'new_question' %}
	<div class="row justify-content-center">
		<h1>Adding a New Question</h1>
	</div>
	<br>
	<form>
		<div class="pt-lg-2">
			<label class="font-weight-bold">Idea or Fact</label>
			<textarea rows="10" name="idea" id="idea" style="width:100%;"></textarea>
		<!-- <label for="floatingInput" class="font-weight-bold">Idea or Fact</label> -->
		</div>
		<br>
		<div class="pt-lg-2">
			<label class="font-weight-bold">Sources</label>
			<textarea name="sources" id="sources" class="form-control"></textarea>
			<!-- <label for="floatingInput" class="font-weight-bold">Sources</label> -->
		</div>
		<br>
		<div class="text-center">
			<button type="submit" class="btn btn-primary btn-lg">Add Idea</button>
		</div>
	</form>
	
	{% elif session.page == 'new_quiz' %}
	<div class="row justify-content-center">
		<h1>Adding a New Quiz</h1>
	</div>
	<br>
	<form>
		<div class="row pt-lg-2">
			<div class="col">
				<label class="font-weight-bold">Event</label>
			</div>
			<div class="col">
				<label class="font-weight-bold">Title</label>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<input type="text" id="event" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="title" class="form-control">
			</div>
		</div>
		<div class="row pt-lg-4">
			<div class="col">
				<label class="font-weight-bold">Quizmasters</label>
			</div>
			<div class="col">
				<label class="font-weight-bold">Date of Quiz</label>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<input type="text" id="quizmasters" class="form-control">
			</div>
			<div class="col">
				<input type="date" id="event_date" class="form-control">
			</div>
		</div>
		<div class="row pt-lg-4">
			<div class="col">
				<label class="font-weight-bold">Number of Questions</label>
			</div>
			<div class="col">
				<label class="font-weight-bold">Number of Teams</label>
			</div>
			<div class="col">
				<label class="font-weight-bold">Maximum Possible Score</label>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<input type="text" id="questions_count" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="teams_count" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="max_possible_score" class="form-control">
			</div>
		</div>
		<div class="row pt-lg-4">
			<div class="col">
				<label class="font-weight-bold">First Place Score</label>
			</div>
			<div class="col">
				<label class="font-weight-bold">Second Place Score</label>
			</div>
			<div class="col">
				<label class="font-weight-bold">Third Place Score</label>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<input type="text" id="first_place_score" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="second_place_score" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="third_place_score" class="form-control">
			</div>
		</div>
		<div class="row pt-lg-4">
			<div class="col">
				<label class="font-weight-bold">Quizmaster Remarks</label>
			</div>
			<div class="col">
				<label class="font-weight-bold">Reception</label>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<textarea name="remarks" id="remarks" class="form-control"></textarea>
			</div>
			<div class="col">
				<select class="custom-select" id="reception_select">
					<option selected>Choose...</option>
					<option value="awful">Awful</option>
					<option value="poor">Poor</option>
					<option value="mediocre">Mediocre</option>
					<option value="good">Good</option>
					<option value="pretty_good">Pretty Good</option>
				</select>
			</div>
		</div>
		<div class="text-center pt-xxl-4">
			<button type="submit" class="btn btn-primary btn-lg">Add Quiz</button>
		</div>
	</form>
	
	{% elif session.page == 'new_note' %}
	<h1>Adding a new note</h1>
	<br>
	<form method="POST">
		<div class="row pt-lg-2">
			<div class="col">
				<textarea rows="10" name="note" id="note" style="width:100%;" class="form-control"></textarea>
			</div>
		</div>
		<div class="text-center pt-xxl-4">
			<button type="submit" class="btn btn-primary btn-lg">Add Note</button>
		</div>
	</form>
	
	{% endif %}
{% endblock %} 