{% extends "base.html" %}

{% block title %}Insert New Record{% endblock %}

{% block content %}
	<br>
	{% if session.page == 'new_idea' %}
		<div class="row justify-content-center">
			<h1>Adding a New Idea</h1>
		</div>
		<br>
		<form method="POST">
			<div class="row">
				<div class="col">
					<h4>Index</h4>
				</div>
				<div class="col">
					<h4>Author</h4>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input class="form-control" name="idea_index" id="idea_index" type="text" value="{{data[0]}}" readonly>
				</div>
				<div class="col">
					<input class="form-control" name="author" id="author" type="text" value="{{data[1]}}" readonly>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<h4>Idea/Fact</h4>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<textarea rows="6" name="idea" id="idea" style="width:100%;"></textarea>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<h4>Sources/Notes</h4>	
				</div>
			</div>
			<div class="row">
				<div class="col">
					<textarea rows="8" name="sources" id="sources" class="form-control"></textarea>
				</div>
			</div>
			<!-- <div class="pt-lg-2">
				<h4>Index</h4>
				<input class="form-control" type="text" value="{{data[0]}}" readonly>
			</div>
			<br>
			<div class="pt-lg-2">
				<h4>Idea or Fact</h4>
				<textarea rows="6" name="idea" id="idea" style="width:100%;"></textarea>
			</div>
			<br>
			<div class="pt-lg-2">
				<h4>Sources</h4>
				<textarea rows="8" name="sources" id="sources" class="form-control"></textarea>
			</div> -->
			<br>
			<div class="text-center">
				<button type="submit" class="btn btn-primary btn-lg">Add Idea</button>
			</div>
		</form>
	
	{% elif session.page == 'new_question' %}
	<div class="row justify-content-center">
		<h1>Adding a New Question</h1>
	</div>
	<br>
	<form>
		<div class="pt-lg-2">
			<h4>Idea or Fact</h4>
			<textarea rows="10" name="idea" id="idea" style="width:100%;"></textarea>
		</div>
		<br>
		<div class="pt-lg-2">
			<h4>Sources</h4>
			<textarea name="sources" id="sources" class="form-control"></textarea>
		</div>
		<br>
		<div class="text-center">
			<button type="submit" class="btn btn-primary btn-lg">Add Idea</button>
		</div>
	</form>
	
	{% elif session.page == 'new_quiz' %}
	<div class="row justify-content-center">
		<h1>Adding a New Quiz</h1>
	</div>
	<br>
	<form>
		<div class="row pt-lg-2">
			<div class="col">
				<h4>Event</h4>
			</div>
			<div class="col">
				<h4>Title</h4>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<input type="text" id="event" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="title" class="form-control">
			</div>
		</div>
		<div class="row pt-lg-4">
			<div class="col">
				<h4>Quizmasters</h4>
			</div>
			<div class="col">
				<h4>Date of Quiz</h4>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<input type="text" id="quizmasters" class="form-control">
			</div>
			<div class="col">
				<input type="date" id="event_date" class="form-control">
			</div>
		</div>
		<div class="row pt-lg-4">
			<div class="col">
				<h4>Number of Questions</h4>
			</div>
			<div class="col">
				<h4>Number of Teams</h4>
			</div>
			<div class="col">
				<h4>Maximum Possible Score</h4>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<input type="text" id="questions_count" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="teams_count" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="max_possible_score" class="form-control">
			</div>
		</div>
		<div class="row pt-lg-4">
			<div class="col">
				<h4>First Place Score</h4>
			</div>
			<div class="col">
				<h4>Second Place Score</h4>
			</div>
			<div class="col">
				<h4>Third Place Score</h4>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<input type="text" id="first_place_score" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="second_place_score" class="form-control">
			</div>
			<div class="col">
				<input type="text" id="third_place_score" class="form-control">
			</div>
		</div>
		<div class="row pt-lg-4">
			<div class="col">
				<h4>Quizmaster Remarks</h4>
			</div>
			<div class="col">
				<h4>Reception</h4>
			</div>
		</div>
		<div class="row pt-lg-2">
			<div class="col">
				<textarea name="remarks" id="remarks" class="form-control"></textarea>
			</div>
			<div class="col">
				<select class="custom-select" id="reception_select">
					<option selected>Choose...</option>
					<option value="awful">Awful</option>
					<option value="poor">Poor</option>
					<option value="mediocre">Mediocre</option>
					<option value="good">Good</option>
					<option value="pretty_good">Pretty Good</option>
				</select>
			</div>
		</div>
		<div class="text-center pt-xxl-4">
			<button type="submit" class="btn btn-primary btn-lg">Add Quiz</button>
		</div>
	</form>
	
	{% elif session.page == 'new_note' %}
	<h1>Adding a new note</h1>
	<br>
	<form method="POST">
		<div class="row pt-lg-2">
			<div class="col">
				<textarea rows="10" name="note" id="note" style="width:100%;" class="form-control"></textarea>
			</div>
		</div>
		<div class="text-center pt-xxl-4">
			<button type="submit" class="btn btn-primary btn-lg">Add Note</button>
		</div>
	</form>
	
	{% endif %}
{% endblock %} 